.pudding {
    width: 120px;
    border-bottom: 80px solid orange;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-radius: 26px 26px 6 6 / 80px 80px 6 6;
    height: 0;
}